{{#js}}                                                                                                                             
    // New code to create groups in a modal.                                                                                        
    require(['local_repositoryciae/modal_collab'], function(NewCollab) {                                                                           
        NewCollab.init('[data-action=createcollabmodal]', 1);                                                                            
    });
{{/js}}