{{< core/modal }}
    {{$title}}{{#str}} sharedmaterials, local_repositoryciae {{/str}}{{/title}}
    {{$body}}
        <div class="container">
            <form>
                Falta la lista del foro 
            </form>
        </div>
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-primary" data-action="login">{{#str}} select {{/str}}</button>
    {{/footer}}
{{/ core/modal }}