<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/upload.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nuevo material</h5>
            <p class="card-text">Para agregar materiales no incluídos anteriormente.</p>
            <br><br>
            <a href="newfile.php" class="btn btn-primary">Subir archivo nuevo</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/link.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Enlace externo</h5>
            <p class="card-text">Para los materiales que están disponibles en otras páginas.</p>
            <br><br>
            <a href="newlink.php" class="btn btn-primary">Compartir enlace</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="img/collab.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Archivo desde foro de colaboración</h5>
            <p class="card-text">Materiales compartidos en el foro de colaboración y que pueden ser utilizados didácticamente.</p>
            <a href="collabfile.php" class="btn btn-primary">Agregar colaboración</a>
        </div>
    </div>
</div>