<div class="container">
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <p class="navbar-brand">ALGUNOS DE NUESTROS RECURSOS</p>
      <a href="{{locallink}}repository.php">Ver todos los RECURSOS</a>
    </div>
  </nav>
  <div class="row">
    {{#materials}}
    <div class="card" style="width: 20rem; margin-left:3px;margin-bottom:3px;">
        <div class="row no-gutters">
          
            <div class="col-md-12 block-title">
              <h5 class="card-title">{{materialtype}}</h5>
            </div> 
              <div class="card-body">
                <h5>{{name}}</h5>
                {{#imageurl}}
                  <img src="{{imageurl}}" alt="..." style="width: 100%;">
                {{/imageurl}}
                <p class="card-text"><strong>RESUMEN</strong></p>
                <p class="card-text">{{abstract}}</p>
                <br>
                <p class="card-text"><strong>CURSO:</strong> {{grades}}</p>
                <p class="card-text"><strong>EJES:</strong> {{axis}}</p>
                <div class="btn-group" role="group">
                  <a href="{{locallink}}materialrepository.php?id={{id}}" class="btn btn-primary">Ver este recurso</a>
                </div>
              </div>
            </div>            
          
        </div>
    {{/materials}}
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <h4 class=" text-center">Conozca más sobre el REPOSITORIO</h4>
      <div class="row">
        <div class="col-6">
          <div class="card" >
            <iframe width="100%" src="https://www.youtube.com/embed/FbGHEx9T7cg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title">ORIENTACIONES PEDAGÓGICAS</h5>
              <p class="card-text">Corresponde a un espacio formativo que aglutina materiales (cápsulas, guías, fichas didácticas, entre otros) orientados a contribuir al fortalecimiento de la práctica pedagógica.</p>
              <a href="https://kimeltun.edocere.com/local/staticpage/view.php?page=orientaciones_pedagogicas" class="btn btn-primary">Ver más...</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" >
            <iframe width="100%" src="https://www.youtube.com/embed/1_graoSALNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <h5 class="card-title">MATERIALES COMPARTIDOS</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="{{locallink}}shared.php" class="btn btn-primary">Ver más...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <iframe src="https://calendar.google.com/calendar/embed?src=es.cl%23holiday%40group.v.calendar.google.com&ctz=America%2FSantiago" style="border: 0" width="200" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h4>Validación de materiales del foro</h4>
    </div> 
    <div class="col-12">
      <p>En esta sección, les invitamos a ser parte de la validación de los materiales presentes en el foro. Cada material requiere completar una serie de preguntas que serán parte de la ficha didáctica. Posterior a sus respuestas, un grupo encargado de la validación revisará las respuestas y se agregarán al Repositorio</p>
    </div>
    <div class="col-12">
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <p class="navbar-brand">Foro Materiales compartidos</p>
          <p class="navbar-brand">Mejores colaboradores</p>
        </div>
      </nav>
    </div>
  </div>
  <div class="row mt-4 mb-3">
      <div class="col-3">
        <select class="custom-select" aria-label="filter_select" id="filter_select">
          <option value="">Ver sólo...</option>
          <option value="1" {{#filterselect1}}selected{{/filterselect1}}>Subidos al Repositorio</option>
          <option value="2" {{#filterselect2}}selected{{/filterselect2}}>Formulario incompleto</option>
          <option value="3" {{#filterselect3}}selected{{/filterselect3}}>Para revisión</option>
        </select>
      </div>
      <div class="col-2"></div>
      <div class="col-3">
        <select class="custom-select" aria-label="order_select" id="order_select">
          <option value="">Ordenar por...</option>
          <option value="1" {{#orderselect1}}selected{{/orderselect1}}>Más antiguos primero</option>
          <option value="2" {{#orderselect2}}selected{{/orderselect2}}>Más nuevos primero</option>
        </select>
      </div>
      <div class="col-4 text-right">
        <select class="custom-select" aria-label="orderusers_select" id="orderusers_select">
          <option value="">Ordenar por...</option>
          <option value="1" {{#orderusersselect1}}selected{{/orderusersselect1}}>Edición de información</option>
          <option value="2" {{#orderusersselect2}}selected{{/orderusersselect2}}>Más comentarios</option>
          <option value="3" {{#orderusersselect3}}selected{{/orderusersselect3}}>Más debates creados</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Título de la conversación</th>
              <th>Cantidad de comentarios</th>
              <th>Porcentaje de llenado de formulario</th>
              <th>Estado actual</th>
              <th>Último educador que editó</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {{#discussions}}
              <tr>
                <td>{{name}}</td>
                <td>{{quantity}}</td>
                <td>
                  {{#percentage1complete}}
                    <p class="mb-0"><a href="{{locallink}}drafts/stageone.php?id={{id}}">Etapa 1: {{percentage1}}%</a></p>
                  {{/percentage1complete}}
                  {{^percentage1complete}}
                    <p class="mb-0">Etapa 1: {{percentage1}}%</p>
                  {{/percentage1complete}}

                  {{#percentage2complete}}
                    <p class="mb-0"><a href="{{locallink}}drafts/stagetwo.php?id={{id}}">Etapa 2: {{percentage2}}%</a></p>
                  {{/percentage2complete}}
                  {{^percentage2complete}}
                    <p class="mb-0">Etapa 2: {{percentage2}}%</p>
                  {{/percentage2complete}}
                </td>
                <td>{{state}}</td>
                <td>{{last_editor}}</td>
                <td>
                    <div><a href="{{locallink}}checkdraft.php?id={{id}}">Ver</a></div>
                    <div><a href="{{locallink}}drafts/fulldraft.php?discussionid={{id}}">Completar</a></div>
                </td>
              </tr>
              {{/discussions}}
              {{^discussions}}
                  <p>No hay datos aún</p>
              {{/discussions}}
          </tbody>
        </table>
        <p class="text-end"><a href="{{locallink}}sharedfiles.php">Ver lista completa</a></p>
      </div>
      <div class="col-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              {{#orderusersselect1}}<th>Cantidad de datos editados</th>{{/orderusersselect1}}
              {{#orderusersselect2}}<th>Cantidad de comentarios</th>{{/orderusersselect2}}
              {{#orderusersselect3}}<th>Cantidad de debates creados</th>{{/orderusersselect3}}
            </tr>
          </thead>
          <tbody>
            {{#editors}}
              <tr>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{quantity}}</td>
              </tr>
              {{/editors}}
              {{^editors}}
                  <p>No hay datos aún</p>
              {{/editors}}
          </tbody>
        </table>
      </div>
    </div>
  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <h4>Galería Colaborativa KIMELTÚN</h4>
    </div>  
  </div>
  <div class="row">
    <div class="col-6">
      <p>Esta obra {{generoartista2}}  artista {{nombreartista}} está parcialmente oculta.</p>
      <p>Cada vez que un(a) educador(a) realiza una acción en este Repositorio, el cuadro será más visible.</p>
      <p>Les invitamos a participar en este Repositorio, aportando materiales, comentando o dando su opinión, para que de esta forma, poco a poco esta hermosa obra pueda mostrarse en su totalidad.</p>
    </div>
    <div class="col-4">
      <p>Cuando la obra sea completada, cada escuela de cada educador(a) recibirá en forma física una reproducción impresa y enmarcada de la obra, para así, ir conformando su propia</p>
      <p>Galería Colaborativa Kimeltún</p>
    </div>
    <div class="col-2">
      <div class="card" style="width: 8rem;">
        <img src="./img/Eduardo-Rapiman.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{generoartista}} artista {{nombreartista}}.</p>
        </div>
      </div>
    </div>  
  </div>
  <div class="row mt-5">
    <div class="col-2">
      <p>Este mes de {{mes}} {{anho}}</p>
      <br>
      <p>Se han llevado a cabo:</p>
      <p>{{actions}} nuevas ACCIONES de colaboración</p>
      <br>
      <p>Gracias a esto, se ha quitado un {{valuedifference}}% del pixelado </p>
    </div>
    <div class="col-10">
      <div>
        <img
          style="margin-top: 5px;width:-webkit-fill-available;"
          id="pixelatedImage"
          src="./img/mural.png"
        />
      </div>
      <div style="margin-top: 5px;visibility:hidden;">
        <span>Pixelation: </span>
        <input
          type="range"
          min="0"
          max="100"
          value="{{valuepixel}}"
          step="1"
          class="pixelation"
          id="pixelationRange"
        />
      </div>
    </div> 
  </div>
  
    
</div>