<div class="col-12">
    <div class="row  justify-content-md-center"> 
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary btn-lg">
                <input type="radio" name="options" id="option1" checked> {{#str}} grades, local_repositoryciae {{/str}}
            </label>
            <label class="btn btn-primary btn-lg">
                <input type="radio" name="options" id="option2"> {{#str}} axis, local_repositoryciae {{/str}}
            </label>
            <label class="btn btn-primary btn-lg">
                <input type="radio" name="options" id="option3"> {{#str}} territories, local_repositoryciae {{/str}}
            </label>
            <label class="btn btn-primary btn-lg">
                <input type="radio" name="options" id="option3"> {{#str}} freesearch, local_repositoryciae {{/str}}
            </label>
        </div>               
    </div>
</div>
<br>
<div class="row justify-content-md-center">
    <div class="input-group col-6">
        <input type="text" class="form-control" placeholder="Buscar" aria-label="search" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">{{#str}} search, local_repositoryciae {{/str}}</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    {{#materials}}
    <div class="card" style="width: 18rem; margin-left:3px;margin-bottom:3px;">
        <div class="row no-gutters">
            <div class="col-md-12 block-title">
                <h5 class="card-title">{{materialtype}}</h5>
            </div>    
            <div class="col-md-4">
                {{#imageurl}}
                    <img src="{{imageurl}}" alt="..." style="width: 100%;height: 15vw;object-fit: cover;">
                {{/imageurl}}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text"><strong>{{grades}}</strong></p>
                    <p class="card-text">{{culturalcontent}}</p>
                    <p class="card-text">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </p>
                    <div class="btn-group" role="group">
                        <a href="./materialrepository.php?id={{id}}" class="btn btn-primary">Ver</a>
                        <a href="./{{linktype}}?id={{id}}" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="./delete.php?id={{id}}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    {{/materials}}
</div>