<div class="col-12">
    <div class="row"> 
        <div class="col-8"><p>Búsqueda por: Tema 1</p></div>   
        <div class="col-4 align-items-end">
            Ordenar por: 
            <select class="custom-select">
                <option value="mostvaluable">Más valorados</option>
                <option value="alpha">Alfabéticamente</option>
            </select>
        </div>           
    </div>
</div>
<br>
<div class="row">
    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;">
        <div class="card-body">
            <h5 class="card-title">Material 1</h5>
            <p class="card-text">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://futurefood.network/wp-content/uploads/2020/06/Education.jpg" alt="..." style="width: 100%;height: 15vw;object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Material 1</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="card-body">
                                <h5 class="card-title">Opiniones</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Ver material</a>
        </div>
    </div>
    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;">
        <div class="card-body">
            <h5 class="card-title">Material 1</h5>
            <p class="card-text">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://futurefood.network/wp-content/uploads/2020/06/Education.jpg" alt="..." style="width: 100%;height: 15vw;object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Material 1</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="card-body">
                                <h5 class="card-title">Opiniones</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Ver material</a>
        </div>
    </div>
    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;">
        <div class="card-body">
            <h5 class="card-title">Material 1</h5>
            <p class="card-text">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </p>
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://futurefood.network/wp-content/uploads/2020/06/Education.jpg" alt="..." style="width: 100%;height: 15vw;object-fit: cover;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Material 1</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card" style="width:100%; margin-left:3px;margin-bottom:3px;display:inline-block;">
                        <div class="row no-gutters">
                            <div class="card-body">
                                <h5 class="card-title">Opiniones</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary">Ver material</a>
        </div>
    </div>
</div>